header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 300px 1fr 50px;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.dark-mode {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.dark-mode a {
  color: var(--white-color);
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  font-size: 1.4rem;
  font-family: var(--heading-typography);
  color: var(--white-color);
}

nav ul li a:hover {
  color: var(--secundary-color);
}

#switch-mode {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 1rem;
}

#switch-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switch-mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secundary-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

#switch-mode .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#switch-mode input:checked + .slider {
  background-color: var(--alternative-color);
}

#switch-mode input:focus + .slider {
  box-shadow: 0 0 1px var(--alternative-color);
}

#switch-mode input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

main {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  min-height: 52vh;
  padding-bottom: 3rem;
}

#call-to-action {
  padding: 1rem;
  width: 90%;
  text-align: center;
}

#invitation {
  margin: 3rem;
}

.carousel-item {
  display: none;
  width: 100%;
  padding-right: 20px;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  width: 100%;
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#hero img {
  width: 100%;
  height: auto;
}

#hero-title {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 30%;
  padding: 2rem;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.5);
}

.hero-buttons {
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 20%;
  background-color: var(--primary-color);
}

.hero-buttons .bullet {
  padding: 0.4rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--secundary-color);
}

.hero-buttons .bullet:hover {
  background-color: var(--alternative-color);
}

.hero-buttons .bullet.active {
  background-color: var(--alternative-color);
}

#weather, #events {
  padding: 1rem;
  text-align: center;
}

#weather h2, #events h2 {
  margin-bottom: 1rem;
}

#weather p, #events p {
  margin-bottom: 1rem;
}

#weather input  {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

#weather select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
}

#weather p {
  margin-bottom: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
