@media only screen and (max-width: 800px) {

  h2 {
    font-size: 1.2rem;
  }

  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  nav {
    width: 100%;
    height: 70px;
    position: relative;
  }
  #menu-button {
    display: block;
  }
  #sidebar-menu {
    display: block;
  }
  .current {
    background-color: var(--alternative-color);
  }
  .navigation {
    display: none;
    width: 400px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: var(--secundary-color);
    text-align: center;
    z-index: 1;
  }
  .navigation li {
    padding: 1rem;
    display: block;
    border-bottom: 1px solid var(--white-color);
  }
  .navigation li:last-child {
    border-bottom: none;
  }
  .navigation li a:hover {
    color: var(--alternative-color);
  }

  #discover-main {
    grid-template-columns: 1fr;
  }

  #banner p {
    font-size: 1rem;
  }

  .sidebar {
    display: none;
    height: 400px;
    overflow-y: auto;
  }

  .sidebar h2 {
    font-size: 1rem;
  }

  .sidebar p {
    font-size: 0.6rem;
  }

  .gallery {
    grid-column: 1 / 2;
    grid-template-columns: 800px;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  .gallery img:hover {
    box-shadow: none !important;
    transform: none !important;
    transition: none !important;
  }

  .open {
    display: block;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  main {
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p, a, .button {
    font-size: 0.8rem;
  }

  #call-to-action {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #hero {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #hero-title {
    padding: 1rem;
    font-size: 1.2rem;
    top: 30%;
    left: 20%;
  }

  .hero-buttons {
    width: 50px;
    height: 30px;
    bottom: 5%;
    left: 44%;
  }

  .hero-buttons .bullet {
    padding: 0.25rem;
  }

  .carousel-item {
    margin: auto;
    padding-right: 0;
  }

  .carousel-item img {
    margin: auto;
  }

  #events {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #weather {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  #spotlights {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .join-form-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .join-form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .memberships-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}