@media screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  nav {
    width: 100%;
    height: 70px;
    position: relative;
  }
  #menu-button {
    display: block;
  }
  .navigation {
    display: none;
    width: 200px;
    position: absolute;
    right: -50%;
    top: 70px;
    background-color: var(--secundary-color);
    text-align: center;
  }
  .navigation li {
    padding: 1rem;
    display: block;
    border-bottom: 1px solid var(--white-color);
  }
  .navigation li:last-child {
    border-bottom: none;
  }
  .navigation li a:hover {
    color: var(--alternative-color);
  }

  .open {
    display: block;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 20px repeat(5, 1fr);
  }

  h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #call-to-action {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
  }

  #hero {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  #events {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
  }

  #weather {
    grid-column: 1 / 2;
    grid-row: 5 / 5;
  }

  #spotlight {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

}