@media screen and (max-width: 800px) {

  h2 {
    font-size: 1.2rem;
  }

  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  nav {
    width: 100%;
    height: 70px;
    position: relative;
  }
  #menu-button {
    display: block;
  }
  .navigation {
    display: none;
    width: 200px;
    position: absolute;
    right: -50%;
    top: 70px;
    background-color: var(--secundary-color);
    text-align: center;
  }
  .navigation li {
    padding: 1rem;
    display: block;
    border-bottom: 1px solid var(--white-color);
  }
  .navigation li:last-child {
    border-bottom: none;
  }
  .navigation li a:hover {
    color: var(--alternative-color);
  }

  .open {
    display: block;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  main {
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  h1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p, a, .button {
    font-size: 0.8rem;
  }

  #call-to-action {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #hero-title {
    padding: 1rem;
    font-size: 1.5rem;
    top: 30%;
    left: 18%;
  }

  .hero-buttons {
    width: 50px;
    height: 30px;
    bottom: 5%;
    right: 41%;
  }

  .hero-buttons .bullet {
    padding: 0.3rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .carousel-item {
    margin: auto;
    padding-right: 0;
  }

  .carousel-item img {
    margin: auto;
  }

  #events {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #weather {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  #spotlights {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

}