@media only screen and (max-width: 500px) {

  .navigation {
    top: 60px;
    right: -80%;
    width: 400px;
  }

  #hero-title {
    font-size: 1rem;
    left: 15%;
    top: 50%;
    padding: 1rem 0.5rem;
  }
  .hero-buttons {
    width: 40px;
    height: 20px;
    bottom: 5%;
    left: 47%;
  }
  .hero-buttons .bullet {
    padding: 0.2rem;
  }
  #spotlights {
    display: flex;
    flex-direction: column;
  }
  .spotlight {
    margin: 5px;
  }
  .gallery img:hover {
    box-shadow: none;
    transform: none;
    transition: none;
  }
  .gallery {
    grid-column: 1 / 2;
    grid-template-columns: 500px;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  .weather-forecast {
    flex-direction: column;
  }
  #banner p {
    font-size: 0.8rem;
  }
}