@media screen and (max-width: 500px) {
  #hero-title {
    font-size: 1rem;
    left: 15%;
  }
  #spotlights {
    display: flex;
    flex-direction: column;
  }
  .spotlight {
    margin: 5px;
  }
  .gallery img:hover {
    box-shadow: none;
    transform: none;
    transition: none;
  }
  .gallery {
    grid-column: 1 / 2;
    grid-template-columns: 500px;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  .weather-forecast {
    flex-direction: column;
  }
  #banner p {
    font-size: 0.8rem;
  }
}