@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

:root {
  --primary-color: #002b5b;
  --secundary-color: #2b4865;
  --alternative-color: #256d85;
  --contrast-color: #a10035;
  --white-color: #fff;
  --black-color: #000;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --heading-typography: "Mulish", sans-serif;
  --body-typography: "Montserrat", sans-serif;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: var(--body-typography);
}

h1, h2, h3 {
  font-family: var(--heading-typography);
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 150px auto 1fr;
  align-items: center;
  justify-items: center;
}

header img {
  grid-column: 2/3;
  border-radius: 5px
}

header h1 {
  grid-column: 3/4;
}

nav {
  background-color: var(--secundary-color);
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav ul li {
  margin: 0.5rem;
}

nav ul li a {
  color: var(--white-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--contrast-color);
}

.active::before {
  content: "👉🏻 ";
}

main {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

main h2 {
  margin: 1.5rem;
  grid-column: 1/2;
}

.hero {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}

.hero img {
  width: 100%;
}

.hero-text {
  background: radial-gradient(var(--white-color), var(--primary-color));
  color: var(--black-color);
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

.hero-text p {
  font-family: var(--heading-typography);
}

.card {
  width: 600px;
  background-color: var(--white-color);
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}
.card h3 {
  margin: 0;
  padding: 1rem 0;
  color : var(--white-color);
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px 5px 0 0;
}
.card ul {
  margin: 1.5rem;
  text-align: left;
}

#weather, #visits {
  padding: 1rem;
  text-align: center;
}

.map {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  grid-column: 1/3;
  grid-row: 5/6
}

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
}