.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: var(--alternative-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.form-label {
  color: var(--white-color);
  font-weight: bold;
}

.form-control {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--dark-color);
}

.form-control:focus {
  outline: none;
  border: 2px solid var(--white-color);
}

.form-control:invalid {
  border: 2px solid #dc3545;
}

.form-control:valid {
  border: 2px solid #28a745;
}


.form-submit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: var(--contrast-color);
}